<!-- <!DOCTYPE html>
<html>
<head>
	<title>Log in page</title>
</head>
<body>

<h1>Log Into Your Account</h1>
<form method="post">
  <input type="hidden" name="_csrf"><span>Email:</span>
  <input type="email" name="email" required><br><span>Password:</span>
  <input type="password" name="password" required><br>
  <input type="submit">
</form>

</body>
</html> -->

<h1>Log Into Your Account</h1>
<form method="post">
  <input type="hidden" name="_csrf"><span>Email:</span>
  <input type="email" name="email" required><br><span>Password:</span>
  <input type="password" name="password" required><br>
  <input type="submit">
</form>