<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Master Data > Building</h3>
  </div>
  <div class="panel-body">

  <div class="container">
         
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="active">
          <th>Name</th>
          <th>Type</th>
          <th>Pin Code</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rittika Apartment</td>
          <td>Stand Alone</td>
          <td>700136</td>
          <td>rittikaApt@gmail.com</td>
        </tr>
        <tr>
           <td>Rittika Apartment</td>
          <td>Stand Alone</td>
          <td>700136</td>
          <td>rittikaApt@gmail.com</td>
        </tr>
        <tr>
           <td>Rittika Apartment</td>
          <td>Stand Alone</td>
          <td>700136</td>
          <td>rittikaApt@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>



